@page "/scheduleExams"

@inject IJSRuntime jsRuntime
@inject ApiService api



<h3>Marcação de Exames</h3>

<EditForm Model="tempProcess" OnValidSubmit=@ValidFormSubmitted OnInvalidSubmit=@InvalidFormSubmitted>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table id="ScheduleExamsTable">
        
        <tbody>
            <!-- Personal Information -->
            <tr>
                <td>
                    <div class="form-group">
                        <label for="numUtente">Número de Utente:</label><br />
                        <InputNumber @bind-Value=tempProcess.Person.NumUtente></InputNumber>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="nome">Nome</label><br />
                        <InputText @bind-Value=tempProcess.Person.Name></InputText>
                        <ValidationMessage For="() => tempProcess.Person.Name" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="birthDate">Data de Nascimento</label><br />
                        <InputDate @bind-Value=tempProcess.Person.BirthDate></InputDate>
                    </div>
                </td>
            </tr>
            
            <!-- Exams -->
            <tr>
                <td colspan="3">
                    <!--
                    @foreach(var poss in Exam.PossibleExams)
                    {

                        <input type="checkbox" id=@poss.Id name=@poss.Name value=@poss.Name />

                        <label for=@poss.Name>@poss.Name</label>

                    }
                    -->
                    <TestCheckBoxList Data="@Exam.PossibleExams"
                                      TextField="@((item)=>item.Name)"
                                      ValueField="@((item)=>item.Id)" 
                                      SelectedValues="@SelectedIds"/>

                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan ="3">
                    <input type="submit" class="btn btn-primary" value="Marcar Exames" />
                </td>
            </tr>
        </tfoot>
    </table>
</EditForm>


@code {
    Process tempProcess = new Process
        {

            Person = new Person
            {
                Name = "default"
            },
            ProcessDate = DateTime.Now,
            Exams = new List<Exam>{Exam.Exam1}  // Need to change
        };

    protected List<string> SelectedIds = new List<string>();

    public void FormSubmitted()
    {
        jsRuntime.InvokeVoidAsync("console.log", tempProcess);
    }

    public async void ValidFormSubmitted()
    {
        jsRuntime.InvokeVoidAsync("console.log", "Valid");
        jsRuntime.InvokeVoidAsync("console.log", tempProcess);

        Process newProcess = await api.PostProcessAsync(tempProcess);
        jsRuntime.InvokeVoidAsync("console.log", "Added");
        jsRuntime.InvokeVoidAsync("console.log", newProcess);

    }

    public void InvalidFormSubmitted()
    {
        jsRuntime.InvokeVoidAsync("console.log", "Invalid");
        jsRuntime.InvokeVoidAsync("console.log", tempProcess);

    }
}
