

<table style="width:100%">
    <thead>
        <tr>
            <th>Info Pessoal</th>
            <th>Exams</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:60%">
                <!-- Tabela Esquerda -->
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Nome: @SelectedProcess.Person.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nº Utente: @SelectedProcess.Person.NumUtente
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Data Nascimento: @SelectedProcess.Person.BirthDate.ToShortDateString()
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
            <td>
                <!-- Tabela Direita -->
                <table>
                    <tbody>
                        @foreach (Exam e in SelectedProcess.Exams)
                        {
                            <tr><td> @e.Id - @e.Name </td></tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>


@code{

    [Parameter]
    public Process SelectedProcess{ get; set; }

    private void debug()
    {
        Console.WriteLine("here");
    }
}